@import "../_variable.scss";

.title {
    margin-top: 16px;
    font-size: 2.6rem;
    font-weight: 600;
}

.date {
    margin-top: 16px;
}

.input {
    margin-top: 20px;
    padding: 10px;
    width: -webkit-fill-available;
    font-size: 18px;
    border: 1px solid $gray-color;

    &::placeholder {
        color: $gray-color;
    }
}

.listContainer {
    margin-top: 10px;
}

.empty {
    color: $gray-color;
    text-align: center;
    margin-top: 100px;
}
